<!DOCTYPE html>
<html>
  <head>
    <title>Jobs in the United States</title>
  </head>
  <body>
	  <h1>Here's a list of all the different jobs nerds are doing across the US. We picked one just for you, too!</h1>
    <b>You should do this job:</b> {{ result }}
    <br><br>
    <b>Percentage of Jobs in America</b>
    <br>
    <table border="1">
      <tr>
	      <td><b>Job Class</b></td>
	      <td><b>Percentage</b></td>
      </tr>
      {% for i in jobDict %}
      <tr>
	      <td> {{ i }} </td>
	      <td> {{ jobDict[i] }} </td>
      </tr>
      {% endfor %}
      <tr>
	      <td><b>Total</b></td>
	      <td><b>{{ total }}</b></td>
      </tr>
    </table>
  </body>
</html>
